body {
    background-color: var(--primary);
}

button {
    border-radius: 30px;
    color: var(--primary);
    background-color: var(--gray-00);
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    align-items: flex-end;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 12px;
    white-space: nowrap;
}

button:hover {
    background-color: var(--secondary);
    color: white;
}

.list-icon-menu img:hover,
.list-icon img:hover,
.socialmedia img:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}