:root {
    --primary:#0b0b0a; 
    --secondary: #d83405; 
    --tertiary: #ffda37;
    
    --gray-00: white;
    --gray-20: #afaeb5;
    --gray-40: #888790;
    --gray-60: #626169;
    --gray-80: #3d3c41;
    --gray-100: #181819;
}