@use '../../styles/index' as *;

.nav-list {
    display:flex;
    gap: $size-medium;

    li {
        list-style-type:none;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.nav-item {
    text-decoration: none;
  }
