$background-base: #ffffff;
$background-secondary: #cccccc;
$background-tertiary: #666666;
$text-primary: #000000;
$action-primary: #e63946; 
$action-secondary: #0077cc;

$border-1: #a8dadc;        
$border-2: #b5ead7;      
$border-3: #fff3b0;        
$border-4: #f7c5cc;        
$border-5: #e4c1f9;   