@import '../../styles/variables.scss';

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    background-color: $background-base;
  
    .search-input {
      width: 200px;
      height: 25px;
      padding: 10px;
      font-size: 1rem;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      background-color: $background-tertiary;
      outline: none;
      transition: border-color 0.3s;
  
      &:focus {
        border-color: $action-secondary;
      }
    }
  
    .search-button {
      width: 35px;
      height: 50px;
      padding: 10px;
      font-size: 1rem;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      cursor: pointer;
      background-color: $background-tertiary;
      transition: background-color 0.3s;
    }
  }
  