@use '../../styles/index' as *;

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    background-color: $background-base;
  
    .search-container{
      display: flex;
      align-items: center;
      background-color: $background-tertiary;
      border-radius: 30px;
      overflow: hidden;
    }

    .search-input {
      flex: 1;
      width: 100%;
      max-width: 600px;
      min-width: 150px;
      height: 25px;
      padding: 10px;
      font-size: 12px;
      border: none;
      background-color: $background-tertiary;
      outline: none;
      transition: border-color 0.3s;
  
      &:focus {
        border-color: $action-secondary;
      }
    }
  
    .search-button {
      width: 45px;
      height: 45px;
      padding: 0;
      border: none;
      font-size: 12px;
      cursor: pointer;
      background-color: $background-tertiary;
      transition: background-color 0.3s;
    }
  }

  .message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: $btn-primary-hover-bg; 
    color: $btn-primary-color;
    border-radius: 12px;
    font-size: $size-medium;
    gap: 20px;
    max-width: 300px;
    margin: auto;
  }