@use '../../styles/index' as *;

.nav-icons {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px; 
  }
  
  .nav-icon-item {
    display: flex;
  }
  
  .nav-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  
    &:hover {
      background-color: $action-secondary; 
      border-radius: 50%;
    }
  }

  @media (max-width: 768px) {
    .hide-mobile {
      display: none;
    }
  }
  
  .profile {
    background-color: $background-tertiary;
    border-radius: 50%;
  }

  